@media screen and (max-width: 880px) {
  .page__section {
    max-width: 780x;
    width: 100%;
    margin: 0 auto;
  }

  .header {
    border-bottom: 1px solid #545454;
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }

  .header__logo {
    height: 33px;
    width: 173px;
    margin: 45px 20px 41px;
  }
  .content {
    padding: 0 20px 0 20px;
  }
}
