.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.5s ease-in-out;
  padding: 19px;
  display: flex;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
  box-sizing: border-box;
}

.modal__container_type_preview {
  margin: auto;
  position: relative;
  width: auto;
  height: auto;
  max-width: 75vw;
  max-height: 75vh;
  box-sizing: border-box;
  background-color: transparent;
  justify-content: center;
  padding: 0;
}

.modal__image {
  margin: auto;
  max-height: 75vh;
  max-width: 75vw;
}

.modal__title {
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 291px;
  max-height: 12px;
}

.modal__close {
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/closeIcon.svg");
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
  transition: opacity 0.4s ease-in-out;
}

.modal__heading {
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  margin: 0 0 54px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 30px;

  font-size: 14px;
  line-height: 1.2;
  color: #000000;
}

.modal__input {
  padding: 0 0 13px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__input::placeholder {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  opacity: 60%;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__button {
  width: 100%;
  height: 50px;
  font-family: Inter, san-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 2px;
  border: none;
  margin: 18px 0 0;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
  transition: opacity 0.4s ease-in-out;
}

.modal__button_disabled {
  background-color: transparent;
  cursor: not-allowed;
  color: #000;
  border-color: #000;
  opacity: 60%;
}

.modal__error_visible {
  color: #ff0000;
}

@media screen and (max-width: 600px) {
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 18px);
    left: calc(90%);
  }

  .modal__container {
    width: 282px;
    padding: 25px 22px;
  }

  .modal__heading {
    margin: 0 0 75px;
    font-size: 18px;
  }

  .modal__button {
    font-size: 14px;
  }

  .modal__container_type_preview {
    width: auto;
    padding: 0;
  }

  .modal__close_type_preview {
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
  }
}
